:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #ffc105;
    --color-primary-200: #ffc83b;
    --color-primary-300: #ffcd57;
    --color-primary-400: #ffd572;
    --color-primary-500: #ffdc8a;
    --color-primary-600: #ffe3a2;

    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #272116;
    --color-surface-mixed-200: #3c362a;
    --color-surface-mixed-300: #514c42;
    --color-surface-mixed-400: #68635a;
    --color-surface-mixed-500: #7f7b73;
    --color-surface-mixed-600: #c0bbb4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-surface-mixed-100);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 10px;
    margin: 40px auto 30px;
    width: 50vw;
    max-width: 600px;
    min-width: 400px;
    background-color: var(--color-surface-mixed-200);
    border-radius: 20px;
}

#labels-container {
    display: flex;
    gap: 10px;
    padding: 20px 0px 30px;
    margin: 0 auto;
    align-items: center;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
}

select {
    background-color: var(--color-surface-mixed-400);
    color: white;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin: 0 auto;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-mixed-200);
    margin: 20px 10px;
    padding: 20px;
    max-width: 70vw;
    border-radius: 15px;
}

.char-input {
    color: white;
    background-color: var(--color-surface-mixed-400);
    text-align: center;
    width: 20px;
    height: 12px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.char-input::placeholder {
    font-style: italic;
    font-size: 12px;
}

.counters-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-surface-mixed-300);
    gap: 10px;
    padding: 15px;
    margin-left: 35px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.bit-counter {
    color: rgb(214, 210, 210);
    display: flex;
    justify-content: center;
    background-color: var(--color-surface-mixed-400);
    cursor: pointer;
    padding: 5px 15px;
    width: 40px;
    max-width: 40px;
    border: none;
    border-radius: 5px;
}

.close-button {
    background-color: var(--color-surface-mixed-500);
    color: white;
    cursor: pointer;
    position: absolute;
    padding: 2px 8px;
    border: none;
    border-radius: 4px;
    top: 10px;
    right: -40px;
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

.low-priority-button,
.high-priority-button{
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    border: none;
}

.high-priority-button {
    color: black;
    background-color: var(--color-primary-300);
}

.high-priority-button:hover {
    background-color: var(--color-primary-500);
}

.high-priority-button:active {
    background-color: var(--color-primary-400);
}

.low-priority-button {
    background-color: var(--color-primary-500);
}

.low-priority-button:hover {
    background-color: var(--color-primary-400);
}

.low-priority-button:active {
    background-color: var(--color-primary-300);
}